:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: rgb(243,243,243);
    color: rgb(63, 63, 63);
    --main-bordercolor: rgb(167,179,175); 
}

fieldset, form, input, button {
    border: none;
    padding: 0;
    margin: 0;
    appearance: none;
    outline: none;
}

div.header {
    background-color: rgb(223,238,235);
    border-radius: 12px 12px 0 0;
    border-bottom: 2px solid var(--main-bordercolor);
    padding: .5rem 1rem;
}

div.header > img {
    height: .7em;
}

div.header > img#logo {
    height: 1em;
    margin-bottom: -0.15em;
}

form {
    border: 2px solid var(--main-bordercolor);
    border-radius: 15px;
    max-width: 550px;
    height: 420px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .4rem;
    padding: 1rem;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.select-wrapper > *:first-child {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: .8rem;
    font-family: Arial Light;
    padding: .3rem;
    border-bottom: 3px solid rgb(192,233,223);
}

input::placeholder {
    color: rgb(204,204,204);
    opacity: 1;
}
input:-ms-input-placeholder {
    color: rgb(204,204,204);
    opacity: 1;
}

input:focus {
    background-color: mintcream;
}

input + img {
    position: absolute;
    width: .6em;
    right: .4em;
    top: .55em;
}

p {
    margin: 0 ;
    font-size: .8rem;
}

p.my-size {
    margin-left: 60px;
}

p > input[type="number"] {
    font-size: .9rem;
    padding: .5em .2em;
    width: 24%;    
    margin: .2em;
    text-align: center;
}

p > input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

button {
    color: rgb(63, 63, 63);
    background-color: rgb(183,239,228);
    border: 2px solid rgb(187,255,239);
    box-shadow: 0 8px 8px rgb(182,182,182);
    border-radius: 20px;
    box-sizing: border-box;
    width: 42%;
    padding: .6rem;
    font-size: .8rem;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

p.result-first-line {
    margin-top: 1.1em;    
}

p.result {
    font-size: 2rem;
    margin: 30px 0;
}

p.no-size {
    font-size: 1rem;
    text-align: center;
}