:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: rgb(243,243,243);
    color: rgb(63, 63, 63);
    --main-bordercolor: rgb(167,179,175); 
}

fieldset, form, input, button, select {
    border: none;
    padding: 0;
    margin: 0;
    appearance: none;
    outline: none;
}

div.header {
    background-color: rgb(223,238,235);
    border-radius: 12px 12px 0 0;
    border-bottom: 2px solid var(--main-bordercolor);
    padding: .5rem 1rem;
}

div.header > img {
    height: .7em;
}

div.header > img#logo {
    height: 1em;
    margin-bottom: -0.15em;
}

form {
    border: 2px solid var(--main-bordercolor);
    border-radius: 15px;
    max-width: max(450px, 45vw);
}

fieldset {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    align-items: center;
    padding: 1rem 1rem;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.select-wrapper > *:first-child {
    position: relative;
    width: 100%;
    font-size: .8rem;
    font-family: Arial Light;
    padding: .3rem;
    color: rgb(204,204,204);
    border-bottom: 3px solid rgb(192,233,223);
}

input:focus, select:focus {
    background-color: mintcream;
}

input + img, select + img {
    position: absolute;
    width: .6em;
    right: -.05em;
    top: .55em;
}

p {
    margin: 0;
    text-align: center;
    font-size: smaller;
}

p > input[type="number"] {
    font-size: 1rem;
    padding: .4em .2em;
    width: 20%;    
    margin: .2em;
    text-align: center;
}

p > input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

button {
    color: rgb(63, 63, 63);
    background-color: rgb(183,239,228);
    border: 2px solid rgb(187,255,239);
    border-radius: 20px;
    padding: .6rem 1rem;
    box-shadow: 0 8px 8px rgb(182,182,182);
    font-size: .8rem;
    cursor: pointer;
}

